In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Read the city csv file
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saskylakh,RU,2022-07-07 18:21:19,71.9167,114.0833,41.76,48,10,7.74
1,1,Road Town,VG,2022-07-07 18:21:03,18.4167,-64.6167,87.84,62,40,9.22
2,2,Hermanus,ZA,2022-07-07 18:21:20,-34.4187,19.2345,57.02,85,93,3.38
3,3,Matara,LK,2022-07-07 18:21:21,5.9485,80.5353,79.00,81,100,9.37
4,4,Mataura,NZ,2022-07-07 18:21:22,-46.1927,168.8643,46.47,93,100,11.59

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=g_key)

In [12]:
# Heatmap of temperature

# Assing the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

#temps = []

#for temp in max_temp:
 #   temps.append(max(temp,0))

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Addd the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity

# Assing the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# Get the humidity.
humidity = city_data_df["Humidity"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

# Addd the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness

# Assing the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# Get the cloudinessy.
clouds = city_data_df["Cloudiness"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

# Addd the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of wind speed

# Assing the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# Get the cloudinessy.
wind = city_data_df["Wind Speed"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

# Addd the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                      (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Road Town,VG,2022-07-07 18:21:03,18.4167,-64.6167,87.84,62,40,9.22
3,3,Matara,LK,2022-07-07 18:21:21,5.9485,80.5353,79.00,81,100,9.37
9,9,Atuona,PF,2022-07-07 18:21:26,-9.8000,-139.0333,77.67,74,27,21.88
15,15,San Rafael Del Sur,NI,2022-07-07 18:21:29,11.8485,-86.4384,88.77,59,60,13.89
25,25,Albany,US,2022-07-07 18:20:47,42.6001,-73.9662,82.78,53,50,4.09
28,28,Bubaque,GW,2022-07-07 18:21:35,11.2833,-15.8333,80.98,82,99,10.67
30,30,Butaritari,KI,2022-07-07 18:21:36,3.0707,172.7902,81.25,78,98,16.44
31,31,Salinopolis,BR,2022-07-07 18:21:36,-0.6136,-47.3561,82.22,74,12,14.58
37,37,Traverse City,US,2022-07-07 18:17:04,44.7631,-85.6206,83.73,52,100,11.50
41,41,Barra Patuca,HN,2022-07-07 18:21:40,15.8000,-84.2833,85.15,64,9,8.86

In [20]:
preferred_cities_df.count()

City_ID       223
City          223
Country       223
Date          223
Lat           223
Lng           223
Max Temp      223
Humidity      223
Cloudiness    223
Wind Speed    223
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp      Lat       Lng Hotel Name
1            Road Town      VG     87.84  18.4167  -64.6167
3               Matara      LK     79.00   5.9485   80.5353
9               Atuona      PF     77.67  -9.8000 -139.0333
15  San Rafael Del Sur      NI     88.77  11.8485  -86.4384
25              Albany      US     82.78  42.6001  -73.9662
28             Bubaque      GW     80.98  11.2833  -15.8333
30          Butaritari      KI     81.25   3.0707  172.7902
31         Salinopolis      BR     82.22  -0.6136  -47.3561
37       Traverse City      US     83.73  44.7631  -85.6206
41        Barra Patuca      HN     85.15  15.8000  -84.2833

In [30]:
# Set parameters to search for a hotel.
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    #Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat}, {lng}"
    
    # Use the search term: "lodging" and our latitude and longitude.
    base_url =  "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params = params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...skipping.")

Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.
Hotel not found...skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Road Town,VG,87.84,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
3,Matara,LK,79.00,5.9485,80.5353,Amaloh Boutique Resort
9,Atuona,PF,77.67,-9.8000,-139.0333,Villa Enata
15,San Rafael Del Sur,NI,88.77,11.8485,-86.4384,Hospedaje El Chino
25,Albany,US,82.78,42.6001,-73.9662,
28,Bubaque,GW,80.98,11.2833,-15.8333,"Casa Dora, Bubaque"
30,Butaritari,KI,81.25,3.0707,172.7902,Isles Sunset Lodge
31,Salinopolis,BR,82.22,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
37,Traverse City,US,83.73,44.7631,-85.6206,Bayshore Resort
41,Barra Patuca,HN,85.15,15.8000,-84.2833,

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))